@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Monaco";
  margin: 0;
}
.font {
  --wp--preset--font-family--system-font: -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue",
    sans-serif;
}
.h1 {
  font-size: clamp(2.032rem, 2.032rem + ((1vw - 0.2rem) * 2.896), 3.625rem);
  line-height: 1.2;
}
.about-us-paragraph {
  max-width: 650px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.section-welcome {
  min-height: 45vw;
  border-bottom: 3px solid #000;
  justify-content: space-between;
  display: flex;
}

.desktop-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.heading-huge {
  letter-spacing: -2px;
  text-transform: uppercase;
  font-size: 88px;
  font-weight: 900;
  line-height: 100%;
}

.section-hours-and-location {
  min-height: 45vw;
  border-bottom: 3px solid #000;
  justify-content: space-between;
  display: flex;
}

.hours-location-image {
  flex: 1;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info-item {
  flex: 1;
  background-image: url("/Taco.jpeg");
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border-radius: 24px;
}

.card-info {
  background-color: rgba(255, 228, 219, 0.95); /* Adding transparency */
  border: 3px solid #000;
  border-radius: 24px;
  padding: 30px;
  max-width: 500px;
  text-align: center;
}

.card-info h1 {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333; /* Darker text color for better contrast */
}

.card-info p {
  font-size: 1rem;
  margin-bottom: 1rem;
  color: #555; /* Darker text color for better contrast */
}

.card-info .hours p {
  margin-bottom: 0.5rem;
}

.card-info .phone {
  font-weight: bold; /* Emphasize the phone number */
  color: #333; /* Darker text color for better contrast */
}

.background-cover {
  min-height: none;
  position: relative;
  height: 60vh; /* Make the cover take the full height of the viewport */
  width: 100%;
}

.background-cover-image {
  background-image: url("/background.png");
  background-size: cover;
  background-position: 25% 30%;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.has-parallax {
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.lazyloaded {
  opacity: 1;
  transition: opacity 1000ms;
  transition-delay: 1000ms;
}

.block-cover__inner-container {
  color: white; /* Ensure content is visible against the background */
  width: 100%;
  height: 100%;
  z-index: 1;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content vertically and horizontally */
}

@media only screen and (max-device-width: 600px) {
  .heading-huge {
    letter-spacing: 0;
    font-size: 48px;
  }
  .welcome-title-wrapper {
    max-width: 320px;
  }
}

@media screen and (max-width: 991px) {
  .section-welcome {
    flex-direction: column;
  }
}

@media (max-width: 767px) {
  .background-cover-image {
    background-image: url("/file.png");
  }
}
